{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:host-list' %}">
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills w-100"> 
          <!-- Блок слева -->
          <li class="nav-item me-auto">
            <a class="nav-link {% if view_name == 'core:host-list' %} active {% endif %}" href="{% url 'core:host-list' %}">
              Сервера
            </a>
          </li>

          <!-- Блок справа -->
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text me-2"><b>{{ user.username }}</b></span>        
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link p-0 border-0" style="cursor: pointer;">
                  Выйти
                </button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}">Зарегистрироваться</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>