<div class="col d-flex justify-content-center">
  <div class="card mb-4" style="width: 18rem;">
    <div class="card-body">
      {% if host.image %}
        <a href="{% url 'core:host_detail' host.id %}">
          <img class="card-img-top mb-3" src="{{ host.image.url }}" alt="{{ host.name }}">
        </a>
      {% endif %}
      <h5 class="card-title">{{ host.name }}</h5>
      <p class="card-text">
        <small class="text-muted">{{ host.host }}:{{ host.port }}</small>
      </p>
      <a href="{% url 'core:host-detail' host.id %}" class="btn btn-outline-primary">
        Подробнее
      </a>
    </div>
  </div>
</div>