{% extends "base.html" %}
{% load static %}

{% block title %}{{ host.name }}{% endblock %}

{% block content %}
<div class="row">
    {% include "partials/_host_card.html" %}
    
    <!-- Пустое окошко -->
    <div class="card">
      <div class="card-body">
        <!-- Здесь может быть дополнительная информация -->
        Бла-бла-бла
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/host_card.css' %}">
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/host_card.js' %}"></script>
{% endblock %}